a {
  color: inherit;
  transition: .25s;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@import './functions.scss';
@import './header.scss';
@import './main.scss';