@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600&display=swap');

@font-face {
    font-family: 'SFUIDisplay', sans-serif;
    src: url('../public/fonts/SFUIDisplay-Regular.ttf') format("ttf");
    font-weight: 400;
  }
  @font-face {
    font-family: 'SFUIDisplay', sans-serif;
    src: url('../public/fonts/SFUIDisplay-Medium.ttf') format("ttf");
    font-weight: 500;
  }
  @font-face {
    font-family: 'SFUIText', sans-serif;
    src: url('../public/fonts/SFUIText-Medium.ttf') format("ttf");
    font-weight: 500;
  }
  @font-face {
    font-family: 'SFUIText', sans-serif;
    src: url('../public/fonts/SFUIText-Semibold.ttf') format("ttf");
    font-weight: 600;
  }