.header {
  &_home {
    background: url('../public/images/badmoms-bg.jpg') black top center no-repeat;
    background-size: auto 100%;
    padding: 50px 0;
    padding-top: 240px;
    min-height: 720px;
    color: white;

    @media (max-width: 991px) {
      min-height: unset;
      background-size: auto 570px;
      padding-top: 190px;
    }
    @media (max-width: 767px) {
      background-size: auto 400px;
      padding-top: 140px;
    }
    @media (max-width: 530px) {
      background-size: auto 240px;
      padding-top: 140px;
    }
  }

  .menu-icon {
    display: none;
    z-index: 1000;
    position: fixed;
    top: 20px;
    right: 10px;
    background: transparent;
    opacity: .9;
    border: none;
    outline: none;
    filter: drop-shadow(2px 2px 1px rgba(0,0,0,.25));

    @media (max-width: 991px) {
      display: inline;
    }
  }

  .nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    ul {
      list-style: none;
      padding: 0;
      text-align: right;
    }
    .nav-item {
      margin-bottom: 40px;
      text-align: right;

      &:last-child {
        margin: 0;
      }

      a {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 600;
        
        &.menu-item {
          font-size: em(23px);
          line-height: 1.3;
          letter-spacing: -0.5px;
        }
        &.sub-item {
          opacity: 0.35;
          mix-blend-mode: hard-light;
          font-size: em(20px);
          line-height: 1.8;
          letter-spacing: -0.65px;
          color: #fff;
        }
      }
    }
    @media (max-width: 991px) {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: 999;
      background: rgba(0, 0, 0, .45);
      transition: .5s;

      & > div {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 75vw;
        padding: 30px;
        background: #000;
        font-size: 18px;
        box-shadow: 5px 0px 15px rgba(0,0,0, .5);
        transition: .5s;
      }
    }
  }

  .movie {
    padding-left: 30px;

    @media (max-width: 768px) {
      padding-left: 15px;
    }

    &_items {
      ul {
        list-style: none;
        padding: 0;
        margin-bottom: 24px;

        li {
          display: inline-block;
          margin-right: 19px;
          font-family: 'SFUIDisplay', sans-serif;
          font-weight: 400;
          font-size: em(25px);
          line-height: 1.28;
          letter-spacing: 0.26px;
          margin-bottom: 10px;

          img {
            margin-top: -5px;
          }
        }
      }
    }
    &_description {
      p {
        font-family: 'SFUIText', sans-serif;
        font-size: em(29px);
        font-weight: 500;
        line-height: 1.24;
        letter-spacing: -0.94px;
        max-width: 750px;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;  
        overflow: hidden;

        @media (max-width: 991px) {
          max-width: unset;
          -webkit-line-clamp: 3;

        }
      }
    }
    &_buttons {
      display: flex;
      margin-top: 50px;
      text-align: center;

      @media (max-width: 768px) {
        margin: 0 -10px;
        margin-top: 50px;
      }

      &-items {
        margin-right: 24px;

        @media (max-width: 768px) {
          margin: 0;
          padding: 0 10px;
        }

        .movie_button {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 140px;
          height: 80px;
          border-radius: 5px;
          background-color: rgba(255, 255, 255, .35);
          margin-top: 8px;
          margin-bottom: 4px;
          font-size: em(31px);
          font-weight: 500;
          letter-spacing: -1.96px;
          font-family: 'SFUIText', sans-serif;
          cursor: pointer;

          &-title {
            font-size: em(23px);
            font-weight: 500;
            line-height: 1.3;
            letter-spacing: -0.5px;
            opacity: 0.5;
          }

          @media (max-width: 768px) {
            width: calc(25vw - 22px);
            font-size: em(21px);
            padding: 0 10px;
          }
        }

        &.active {
          .movie_button {
            background-color: rgba(255, 255, 255, 1);
            margin-top: 0;
            height: 88px;

            &-title {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
  